/*  GBAF Style Sheet - ALL
    --------------------------------------------------------------
	feuille de style
    --------------------------------------------------------------
*/

*,
::before,
::after {
  box-sizing: border-box;
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* ******************************************************************************************************************************************************************/
/* BODY */
body {
  font-family: var(--Open);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TITRES */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Montserrat);
}

/* LIENS */
a {
  text-decoration: none;
}

/* ******************************************************************************************************************************************************************/
/* REFACTORISATION */
input,
select,
textarea {
  width: 100%;
  padding: 5px;
  text-align: center;
}

nav ul li a.nav-link,
form div > p,
.card-contact p {
  font-size: small;
}

/* ******************************************************************************************************************************************************************/
/* HEADER */
/* NAV-BAR */
nav {
  border-bottom: 16px solid var(--primary);
}

.navbar-brand h1 {
  font-size: 2vw;
}

nav img {
  width: 90px;
  background-color: var(--light0);
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 30px;
}

.navbar-toggler,
.navbar-collapse {
  margin: 0 30px;
}

p.nav-link {
  color: var(--light0);
  margin: 0;
}

/* ******************************************************************************************************************************************************************/
/* MAIN */
main {
  width: 90%;
  margin: auto;
  flex: 1;
}

/* ******************************************************************************************************************************************************************/
/* PAGE INDEX - REGISTER - SETTINGS - FORGOT */
/* FORMULAIRE */
#form-login {
  width: 80%;
}

#form-login div > label {
  margin: 10px;
}

#form-login div > a {
  color: var(--primary);
}

#form-login div > a:hover {
  color: var(--dark0);
}

.fa-asterisk {
  color: var(--primary);
  font-size: 12px;
}

/* PAGE INDEX */
/* LIEN VERS INSCRIPTION */
.sign-up-link {
  background-color: var(--primary);
}

.sign-up-link > a {
  color: var(--dark0);
}

.sign-up-link > a:hover {
  color: var(--light0);
}

/* ******************************************************************************************************************************************************************/
/* PAGE HOME */
/* SECTION - PRESENTATION */
.presentation li:not(:last-child)::after,
.contact p:last-child::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--primary);
  max-width: 40px;
  margin: 1rem auto;
  border-radius: 2px;
}

.presentation li::marker {
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  content: "\f00c   ";
  font-size: 20px;
  margin: 1rem;
  color: var(--primary);
}

/* PAGE HOME */
/* SEPARATEUR */
.separator {
  height: 4px;
}

/* PAGE HOME */
/* SECTION - PARTNERS */
/* CARTES PARTNER */
.partner img {
  object-fit: contain;
}

.partner div > a {
  color: var(--primary);
}

.partner div > a:hover {
  color: var(--dark1);
}

/* ******************************************************************************************************************************************************************/
/* PAGE PARTNER_1-2-3-4 */
/* SECTION - PARTNER PRESENTATION */
.partner-presentation a {
  color: var(--primary);
}

.partner-presentation a:hover {
  color: var(--dark1);
}

/* SECTION - PARTNER COMMENTS*/
.partner-comments .card-date {
  font-size: 12px;
}

.partner-comments .card-body:last-child {
  padding-bottom: 0;
}

/* ******************************************************************************************************************************************************************/
/* PAGE CONTACT */
.card-contact {
  width: 90%;
}

/* PAGE NOTICE */
.notice h3 {
  background-color: var(--light2);
}

/* ******************************************************************************************************************************************************************/
/* FOOTER */
footer {
  background-color: var(--dark1);
  border-top: 16px solid var(--primary);
}

footer a {
  color: var(--light0);
}

footer a:hover {
  color: var(--primary);
}

footer p {
  color: var(--light1);
  font-size: x-small;
}

/* ******************************************************************************************************************************************************************/
/* DIVERS */
/* LOGO GBAF */
.section-logo img {
  width: 70px;
}

/* ICONS */
i.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1/1;
  background-color: var(--light2);
  border-radius: 50%;
  font-size: 18px;
}

/* BOUTON - TO TOP */
#totop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-radius: 50%;
  background-color: var(--primary);
  width: 40px;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  aspect-ratio: 1/1;
  transform: scale(0);
  transition: transform 0.2s;
}

#totop.visible {
  transform: scale(1);
}

.fa-angle-double-up {
  color: var(--light0);
}
