/*  GBAF Style Sheet - RESPONSIVE
    --------------------------------------------------------------
	média queries
    --------------------------------------------------------------
*/

/* SM */
@media screen and (min-width: 576px) {
  .presentation li:not(:last-child)::after {
    background-color: transparent;
  }
}

/* LG */
@media screen and (min-width: 992px) {
  /* PAGE HOME */
  /* SECTION - PARTNERS*/
  .partner img {
    width: 40%;
  }
}

/* XL */
@media screen and (min-width: 1200px) {
  .navbar-brand h1 {
    font-size: 24px;
  }
}
